/*NAVBAR*/

@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu{
        left:3rem ;
        width: unset;
    }
}

@media (max-width: 992px) {
    .dropdown_menu {
        display: none;
    }
    .dropdown_menu.open {
        display: block;
    }
}
